# Access rule for Pixart-based Glorious mice (Model O 2 / I 2 family).
# Install on non-NixOS:
#   sudo cp 70-glorious.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules && sudo udevadm trigger

SUBSYSTEM!="hidraw", GOTO="glorious_end"

ATTRS{idVendor}=="093a", ATTRS{idProduct}=="821a", MODE="0660", TAG+="uaccess"
ATTRS{idVendor}=="093a", ATTRS{idProduct}=="821d", MODE="0660", TAG+="uaccess"
ATTRS{idVendor}=="093a", ATTRS{idProduct}=="822a", MODE="0660", TAG+="uaccess"
ATTRS{idVendor}=="093a", ATTRS{idProduct}=="822b", MODE="0660", TAG+="uaccess"
ATTRS{idVendor}=="093a", ATTRS{idProduct}=="822d", MODE="0660", TAG+="uaccess"
ATTRS{idVendor}=="093a", ATTRS{idProduct}=="826a", MODE="0660", TAG+="uaccess"
ATTRS{idVendor}=="093a", ATTRS{idProduct}=="826d", MODE="0660", TAG+="uaccess"

LABEL="glorious_end"
